In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import IPython.display

from google.colab import drive
drive.mount('/content/drive')
%cd "/content/drive/My Drive/ADC/Workshop"

Mounted at /content/drive
/content/drive/My Drive/ADC/Workshop

In [3]:
household_data = pd.read_csv("hhpub.csv")
vehicle_data = pd.read_csv("vehpub.csv")
personal_data = pd.read_csv("perpub.csv")

In [4]:
household_data

,HOUSEID,WTHHFIN,WTHHFIN5D,WTHHFIN2D,NUMADLT,HOMEOWN,HOMETYPE,RAIL,CENSUS_D,CENSUS_R,...,URBAN,URBANSIZE,URBRUR,PPT517,YOUNGCHILD,RESP_CNT,URBRUR_2010,TDAYDATE,WRKCOUNT,STRATUMID
0,9000013002,4683.562599,0.000000,14269.464209,2,1,1,1,1,1,...,1,4,1,2,0,4,1,202202,1,1021
1,9000013016,2953.682712,3785.827852,0.000000,2,3,3,2,1,1,...,1,2,1,0,0,2,1,202202,2,1021
2,9000013026,9825.617473,14296.393986,0.000000,1,3,3,1,1,1,...,1,4,1,0,0,1,1,202202,1,1021
3,9000013039,9609.157141,12211.967921,0.000000,2,3,3,1,1,1,...,1,4,1,2,0,4,1,202201,1,1021
4,9000013041,4771.408635,6848.795739,0.000000,1,1,2,2,1,1,...,1,3,1,0,0,1,1,202201,1,1021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7888,9000218013,8192.198394,10973.908554,0.000000,2,1,1,2,6,3,...,1,1,1,0,0,2,1,202301,0,1031
7889,9000218021,2631.696341,0.000000,17381.268571,1,2,1,2,6,3,...,4,6,2,0,0,1,2,202212,0,1032
7890,9000218034,12857.670012,17381.711443,0.000000,2,2,1,2,6,3,...,4,6,2,0,0,2,2,202212,0,1032
7891,9000218036,88798.289563,118300.750600,0.000000,1,3,1,2,6,3,...,4,6,2,0,0,1,2,202301,0,1032
7892,9000218040,9267.498350,11276.180670,0.000000,1,2,1,2,6,3,...,4,6,2,0,0,1,2,202212,1,1032

In [5]:
vehicle_data

,HOUSEID,VEHID,VEHYEAR,MAKE,HHVEHCNT,VEHTYPE,VEHFUEL,VEHCOMMERCIAL,VEHCOM_RS,VEHCOM_DEL,...,LIF_CYC,MSACAT,MSASIZE,TRAVDAY,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID
0,9000013002,1,2015,48,2,3,1,2,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
1,9000013002,2,2019,48,2,3,1,2,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
2,9000013016,1,2011,49,1,1,1,2,-1,-1,...,2,3,3,4,1,2,1,202202,2,1021
3,9000013039,1,2015,35,1,1,1,2,-1,-1,...,6,1,4,5,1,4,1,202201,1,1021
4,9000013041,1,2014,34,1,1,1,2,-1,-1,...,1,2,4,2,1,3,1,202201,1,1021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14679,9000218013,1,2018,30,1,3,1,2,-1,-1,...,10,3,1,5,1,1,1,202301,0,1031
14680,9000218021,1,2016,12,1,3,1,1,2,2,...,9,3,1,1,4,6,2,202212,0,1032
14681,9000218034,1,2018,37,2,3,1,2,-1,-1,...,10,4,6,5,4,6,2,202212,0,1032
14682,9000218034,2,2003,49,2,4,1,2,-1,-1,...,10,4,6,5,4,6,2,202212,0,1032
14683,9000218040,1,2020,7,1,4,1,2,-1,-1,...,1,4,6,5,4,6,2,202212,1,1032

In [15]:
personal_data

,HOUSEID,PERSONID,WTPERFIN,WTPERFIN5D,WTPERFIN2D,R_AGE,R_SEX,R_RELAT,WORKER,DRIVER,...,LIF_CYC,MSACAT,MSASIZE,TRAVDAY,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID
0,9000013002,1,3938.688806,0.000000,13363.809355,39,2,7,2,1,...,4,1,5,1,1,4,1,202202,1,1021
1,9000013002,2,5409.514573,0.000000,19360.094919,42,1,1,1,1,...,4,1,5,1,1,4,1,202202,1,1021
2,9000013002,3,3013.582163,0.000000,7285.044994,8,-7,2,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
3,9000013002,4,6214.108740,0.000000,27109.336829,5,-7,2,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
4,9000013016,1,3183.420810,4177.234452,0.000000,32,2,7,1,1,...,2,3,3,4,1,2,1,202202,2,1021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,9000218021,1,1183.690130,0.000000,8249.957449,74,2,7,2,1,...,9,3,1,1,4,6,2,202212,0,1032
16993,9000218034,1,7793.315388,10009.558598,0.000000,60,2,7,2,1,...,10,4,6,5,4,6,2,202212,0,1032
16994,9000218034,2,7775.819529,9681.166429,0.000000,62,1,1,2,1,...,10,4,6,5,4,6,2,202212,0,1032
16995,9000218036,1,33531.177084,38232.679184,0.000000,42,2,7,2,2,...,1,4,6,4,4,6,2,202301,0,1032
16996,9000218040,1,11455.059845,12936.571349,0.000000,58,2,7,1,1,...,1,4,6,5,4,6,2,202212,1,1032

In [6]:
# Merge vehicle_data and household_data on HOUSEID
df = pd.merge(vehicle_data, household_data, on='HOUSEID', how='inner')

# Merge personal_data with the existing DataFrame df on HOUSEID
df = pd.merge(df, personal_data, on='HOUSEID', how='inner')
df

,HOUSEID,VEHID,VEHYEAR,MAKE,HHVEHCNT_x,VEHTYPE,VEHFUEL,VEHCOMMERCIAL,VEHCOM_RS,VEHCOM_DEL,...,LIF_CYC,MSACAT,MSASIZE,TRAVDAY,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID
0,9000013002,1,2015,48,2,3,1,2,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
1,9000013002,1,2015,48,2,3,1,2,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
2,9000013002,1,2015,48,2,3,1,2,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
3,9000013002,1,2015,48,2,3,1,2,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
4,9000013002,2,2019,48,2,3,1,2,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35650,9000218034,1,2018,37,2,3,1,2,-1,-1,...,10,4,6,5,4,6,2,202212,0,1032
35651,9000218034,1,2018,37,2,3,1,2,-1,-1,...,10,4,6,5,4,6,2,202212,0,1032
35652,9000218034,2,2003,49,2,4,1,2,-1,-1,...,10,4,6,5,4,6,2,202212,0,1032
35653,9000218034,2,2003,49,2,4,1,2,-1,-1,...,10,4,6,5,4,6,2,202212,0,1032
35654,9000218040,1,2020,7,1,4,1,2,-1,-1,...,1,4,6,5,4,6,2,202212,1,1032

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35655 entries, 0 to 35654
Columns: 207 entries, HOUSEID to STRATUMID
dtypes: float64(11), int64(196)
memory usage: 56.6 MB

In [8]:
# Identify duplicate columns
duplicates = [col for col in df.columns if col.endswith(('_x'))]

# Drop the duplicate columns
df = df.drop(columns=duplicates)

# Rename columns with '_y' suffix by removing the suffix
df = df.rename(columns={col: col.replace('_y', '') for col in df.columns})


# Display the new dataframe
df

,HOUSEID,VEHID,VEHYEAR,MAKE,VEHTYPE,VEHFUEL,VEHCOMMERCIAL,VEHCOM_RS,VEHCOM_DEL,VEHCOM_OTH,...,LIF_CYC,MSACAT,MSASIZE,TRAVDAY,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID
0,9000013002,1,2015,48,3,1,2,-1,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
1,9000013002,1,2015,48,3,1,2,-1,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
2,9000013002,1,2015,48,3,1,2,-1,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
3,9000013002,1,2015,48,3,1,2,-1,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
4,9000013002,2,2019,48,3,1,2,-1,-1,-1,...,4,1,5,1,1,4,1,202202,1,1021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35650,9000218034,1,2018,37,3,1,2,-1,-1,-1,...,10,4,6,5,4,6,2,202212,0,1032
35651,9000218034,1,2018,37,3,1,2,-1,-1,-1,...,10,4,6,5,4,6,2,202212,0,1032
35652,9000218034,2,2003,49,4,1,2,-1,-1,-1,...,10,4,6,5,4,6,2,202212,0,1032
35653,9000218034,2,2003,49,4,1,2,-1,-1,-1,...,10,4,6,5,4,6,2,202212,0,1032
35654,9000218040,1,2020,7,4,1,2,-1,-1,-1,...,1,4,6,5,4,6,2,202212,1,1032

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35655 entries, 0 to 35654
Columns: 182 entries, HOUSEID to STRATUMID
dtypes: float64(8), int64(174)
memory usage: 49.8 MB

In [10]:
df["MAKE"].isna()

0        False
1        False
2        False
3        False
4        False
         ...
35650    False
35651    False
35652    False
35653    False
35654    False
Name: MAKE, Length: 35655, dtype: bool

In [11]:
df["MAKE"].isna().sum()

0

In [12]:
# Prints boolean values on whether each row is duplicated
print(df.duplicated())

# Prints dataframe of duplicate values
# The \n is just to add lines between the two print outputs
print("\n\n",df[df.duplicated()])

0        False
1        False
2        False
3        False
4        False
         ...
35650    False
35651    False
35652    False
35653    False
35654    False
Length: 35655, dtype: bool


 Empty DataFrame
Columns: [HOUSEID, VEHID, VEHYEAR, MAKE, VEHTYPE, VEHFUEL, VEHCOMMERCIAL, VEHCOM_RS, VEHCOM_DEL, VEHCOM_OTH, COMMERCIALFREQ, HHVEHUSETIME_RS, HHVEHUSETIME_DEL, HHVEHUSETIME_OTH, VEHOWNED, WHOMAIN, VEHCASEID, ANNMILES, HYBRID, VEHAGE, VEHOWNMO, WTHHFIN, WTHHFIN5D, WTHHFIN2D, NUMADLT, HOMEOWN, HOMETYPE, RAIL, CENSUS_D, CENSUS_R, HH_HISP, DRVRCNT, CNTTDHH, CDIVMSAR, FLAG100, HHFAMINC, HHFAMINC_IMP, HH_RACE, HHSIZE, HHVEHCNT, HHRELATD, LIF_CYC, MSACAT, MSASIZE, TRAVDAY, URBAN, URBANSIZE, URBRUR, PPT517, YOUNGCHILD, RESP_CNT, URBRUR_2010, TDAYDATE, WRKCOUNT, STRATUMID, PERSONID, WTPERFIN, WTPERFIN5D, WTPERFIN2D, R_AGE, R_SEX, R_RELAT, WORKER, DRIVER, R_RACE, GCDWORK, OUTOFTWN, USEPUBTR, R_RACE_IMP, R_HISP, PROXY, WHOPROXY, EDUC, LAST30_TAXI, LAST30_RDSHR, LAST30_ESCT, LAST30_PT, LAST30_MTRC, LAST30_WALK, LAST30_BIKE, LAST30_BKSHR, TAXISERVICE, RIDESHARE22, ESCOOTERUSED, PTUSED, TRNPASS, MCTRANSIT, WALKTRANSIT, BIKETRANSIT, BIKESHARE22, USAGE1, USAGE2_1, USAGE2_2, USAGE2_3, USAGE2_4, USAGE2_5, USAGE2_6, USAGE2_7, USAGE2_8, USAGE2_9, ...]
Index: []

[0 rows x 182 columns]